<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">

    <!-- 开机广播接收器 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- VPN服务权限 -->
    <uses-permission android:name="android.permission.BIND_VPN_SERVICE" tools:ignore="ProtectedPermissions" />

    <!-- 震动权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:icon="@drawable/logo"
        android:roundIcon="@drawable/logo"
        android:label="@string/app"
        android:theme="@style/Theme.Dome"
        tools:targetApi="31"
        tools:ignore="MipmapIcons">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- 服务声明 -->
        <service
            android:name=".utils.LockPhone"
            android:exported="true"
            android:label="@string/look"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            tools:ignore="AccessibilityPolicy">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/look_phone" />
        </service>


        <!-- 网络阻塞服务 -->
        <service
            android:name=".utils.Network"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="location"
            android:permission="android.permission.BIND_VPN_SERVICE"
            tools:ignore="VpnServicePolicy">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>


        <!-- 开机广播接收器 -->
        <receiver
            android:name=".utils.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="com.yourpackage.ACTION_RESTART_SERVICE"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>